/* 
Colors and sizes
*/
$articlebg:#6f2232;
$white:rgb(243, 239, 239);
$footerbg:#4e4e50;
$black:rgb(0, 0, 0);
$size:1rem;

body{
    background-color:#1a1a1d;
    color: $white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#nav{
    background:$footerbg ;
}
h1, h2{
    padding-left: $size;
}
h4{
    padding-left: $size - 0.3;
}
#text{
   border: 3px solid $black; 
   border-radius: $size *0.45;
   margin: $size *1.7;
   padding: $size - 0.5;
   background-color:$articlebg; 
   height: auto;
}
article{
    color: $white;
}
a{
    text-decoration: none;
    color: $white;
}
#codesite{
    background-image:url("../images/a010-markusspiske-mar19-1902-4988.jpg");
    color: $white;
}

#infosite{
    background-image:url("../images/computer-ge90562384_640.jpg");
    color: $articlebg;   
}

 @mixin links {
    display: inline-block;
    padding-top: $size *0.3;
    padding-bottom: $size *0.25;
    border: 3px solid $black; 
    border-radius: $size *0.5;
    font-size: 6vw;
    background-size: cover;
    margin-left: $size - 0.7;
    justify-content: center;
}
.links a{
    @include links
}

footer{
    height: $size *2;
    border-radius: $size *0.5;
    margin: 2px;
    background-color:$footerbg;
    border: $size *0.2 solid $black;
    height: $size *4;
     a{
        text-decoration: none;

        :hover{
            color: $black;
        }
    }
}
#carouselExampleControls{
    background-color: $articlebg;
    border-radius: $size *0.4;
}
@mixin buttons {
    background-color:$black;
    color: $white;
    border-radius: $size - 0.7;
}
[class^=accordion-button]{
    @include buttons
}