footer{
    height: 2em;
    border-radius: 5px;
    margin: 2px;
    background-color:#4e4e50 ;
    border: 3px solid rgb(0, 0, 0); 
    height: 4em;
    footer a{
        text-decoration: none;
       
        footer a:hover{
            color: rgb(53, 53, 53);
        }
    }
}

 