body{
    background-color:#1a1a1d;
    font-family: fantasy
}

#nav{
    background:#4e4e50 ;
}
h1{
    color: rgba(232, 234, 240, 0.726); 
    padding-left: 1em;
}
h4{
    padding-left: 0.7em;
    color: rgba(255, 255, 255, 0.705);
}
#text{
   border: 3px solid black; 
   border-radius: 5px;
   margin: 20px;
   background-color: #6f2232; 
   display: inline-block;
   color: rgba(235, 230, 224, 0.815);
}
footer{
    display: inline-block;
    height: 2em;
    border-radius: 5px;
    margin: 2px;
    background-color:#4e4e50 ;
    border: 3px solid rgb(0, 0, 0); 
    color: rgb(201, 201, 201);
    height: 4em;
}
footer a{
    text-decoration: none;
    color:rgb(201, 201, 201); 
}
 footer a:hover{
    color: rgb(53, 53, 53);
}
a{
    text-decoration: none;
    color:rgb(201, 201, 201); 
}
#codesite{
    display: inline-block;
    padding-top: 0.3em;
    padding-bottom: 0.25em;
    border: 3px solid black; 
    border-radius: 5px;
    font-size: 5em;
    background-image:url("../images/a010-markusspiske-mar19-1902-4988.jpg");
    background-size: cover;
    color: rgba(226, 226, 226, 0.836);
    margin-left: 0.3em;
    
}
#codesite a:hover{
    border: 4px solid rgb(255, 255, 255);
}
#infosite{
    display: inline-block;
    padding-top: 0.3em;
    padding-bottom: 0.25em;
    border: 3px solid rgb(0, 0, 0); 
    border-radius: 5px;
    font-size: 5em;
    background-image:url("../images/computer-ge90562384_640.jpg");
    background-size: cover;
    color: rgba(153, 166, 185, 0.979);
    margin-left: 0.3em;
}
#infosite a:hover{
    border: 4px solid rgb(255, 255, 255);
}