.accordion-item{
    background-color:#1a1a1d ;
    color: rgba(255, 255, 255, 0.952);
}
h2{
    padding-left: 2em;
    color: rgb(224, 224, 224);
}

article{
    margin-left: 4rem;
}
#vuosi{
    width: 3em;
}
#tulostus{
    margin-left: 2em;
}
#kuva2{
    height: 25vw;
}    
#kuva1{
    width: 50vw
}
@media screen and (max-width:650px) {
    #flush-collapseTwo{font-size: 0.8em
}
}