body{
    background-color:#1a1a1d;
    font-family: fantasy;
    color: white;
    
}

#nav{
    background:#4e4e50 ;
}
h1, h2{
    padding-left: 1em;
}
h4{
    padding-left: 0.7em;
}
article{
   border: 3px solid black; 
   border-radius: 5px;
   margin: 20px;
   padding: 0.5rem;
   background-color: #6f2232; 
   height: auto;
}
footer{
    height: 2em;
    border-radius: 5px;
    margin: 2px;
    background-color:#4e4e50 ;
    border: 3px solid rgb(0, 0, 0); 
    height: 4em;
}
footer a{
    text-decoration: none;
   
}
 footer a:hover{
    color: rgb(53, 53, 53);
}
a{
    text-decoration: none;
    color: white;
}
#codesite{
    display: inline-block;
    padding-top: 0.3em;
    padding-bottom: 0.25em;
    border: 3px solid black; 
    border-radius: 5px;
    font-size: 6vw;
    background-image:url("../images/a010-markusspiske-mar19-1902-4988.jpg");
    background-size: cover;
    color: rgba(226, 226, 226, 0.836);
    margin-left: 0.3em;
    
}

#infosite{
    display: inline-block;
    padding-top: 0.3em;
    padding-bottom: 0.25em;
    border: 3px solid rgb(0, 0, 0); 
    border-radius: 5px;
    font-size: 6vw;
    background-image:url("../images/computer-ge90562384_640.jpg");
    background-size: cover;
    color: #6f2231e3;
    margin-left: 0.3em;
}
